* {
    margin: 0;
}
.container {
    height: 100vh;
    display: flex;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.title-project{
    width: 20%;
    height: 0px;
    text-align: center;
    background-color: black;
    position: fixed;
    top: px;
    left: 40%;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 24px;
}
.colors {
    display: flex;
    width: 100%;
    /*border: 1px solid black;*/
    align-items: center;
    justify-content: center;
}
.btn {
    width: 100px;
    height: 100px;
    position: fixed;
    transition-duration: 1ms;
    border-radius: 50%;
    top: 500px;
    left: 46%;
    cursor: pointer;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}